@import 'base';
@import 'partials';
@import "bootstrap";
@import "bootstrap-responsive";
body { padding-top: 10px }
.naver {
    $linkColor: green;
    $linkColorHover: lighten($linkColor, 10%);
    color: $linkColor;
    &:hover {
        color: $linkColorHover;
    }
    font-weight: bold;
}
.label.label-rank {
    width: 20px;
    background-color: #eeddee;
    color: darken(#eeddee, 30%);
}
ul.rank {
    @extend .well;
    background-color: white;
    font-size: 2em;
    padding-left: 1em;
    margin-left: 0;
    li {
        list-style-type: none;
        border-bottom: solid gray thin;
    }
}
.badge.badge-rank {
    a {
        color: white
    }
}
#intro {
    .img-how-to {
        height: 500px;
    }
    .price {
        @extend .well;
        background-color: lighten(blue, 30%);
        text-align: center;
        color: white;
        &:hover {
            background-color: lighten(blue, 40%);
        }
        p {
            font-size: 2em;
        }
    }
}
#signin {
    form {
        text-align: center;
        margin-top: 20em;
        margin-bottom: 20em;
    }
}
.table thead tr th.success {
    background-color: rgb(223, 240, 216);
}
.table thead tr th.error {
    background-color: rgb(242, 222, 222);
}
#bundle-info {
    &.inactive {
        color: lighten($textColor, 40%);
    }
    .active-on {
        cursor: pointer;
    }
}
.badge-mon {
    background-color: #fcb112;
}
.badge-tue {
    background-color: #ee9b71;
}
.badge-wed {
    background-color: #32ee14;
}
.badge-thu {
    background-color: #f41aaa;
}
.badge-fri {
    background-color: #678111;
}
.badge-sat {
    background-color: #551cba;
}
.badge-sun {
    background-color: #101010;
}
